.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.custom_btn{
  padding: 2em;
  margin: 2em;
  border-radius: 20px;
}

.custom_text{
  font-size: 24px;
}
